
.App {
  text-align: center;
  margin: auto;
  margin-top: 5%;
  width: 80%;
  padding-top: 1%;
  padding-bottom: 5%;


  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }

  }
  
  
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
 font-family:games;
 src: url(./components/Styles/GravisPersonalUseRegular-w1ZOx.ttf);
} 

.marca{
  font-family: games;
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 2rem;
  color: rgb(169, 1, 1);
} 
.Marcas{
  display: flex;
  justify-content: space-between;
 margin-right: 5%;
 
}